@charset "UTF-8";

* {
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to left, #9FC131, #DBF227, #D6D58E);
}
main{
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #87961879;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #005C53;
    text-align: center;
    text-shadow: 2px 2px 3px #00423cad;
}

h2{
    color: #042940;

}

p{
    text-align: justify;
}